{% extends 'base.html'%}

{% block content %}

<div class="form-container">
    <h1>Add Employee</h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group form-control-group">
            <label for="{{ form.employee_code.id_for_label }}">
                Employee Code
            </label>

            {{ form.employee_code }}
            {{ form.employee_code.errors }}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.name.id_for_label}}">Name</label>
            {{form.name }}
            {{form.name.errors}}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.email.id_for_label}}">Email</label>
            {{form.email }}
            {{form.email.errors}}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.phone.id_for_label}}">Phone</label>
            {{form.phone }}
            {{form.phone.errors}}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.department.id_for_label}}">Department</label>
            {{form.department }}
            {{form.department.errors}}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.designation.id_for_label}}">Designation</label>
            {{form.designation }}
            {{form.designation.errors}}
        </div>
        <div class="form-group form-control-group">
            <label for="{{ form.joining_date.id_for_label}}">
                Joining Date
            </label>
            {{form.joining_date}}
            {{form.joining_date.errors}}
        </div>
        <div class="checkbox-group">
            {{ form.is_active}}
            <label for="{{ form.is_active.id_for_label}}">
                Active Employee
            </label>
            
        </div>
        <button type="submit" class="submit-button">
            Save
        </button>

         <a href="{% url 'home' %}" class="cancel-button">
            Cancel
        </a>


    </form>

</div>

{% endblock %}